extends ../../template-layout/common

block content
	.container.my-4
		h2.text-center Users list
		
		.d-flex.justify-content-between.my-4
			a.btn.btn-primary.align-self-center(href="/admin/users/create") Add

			form.m-0(action="/admin/users/search", method="GET")
				.input-group
					input.form-control(type="text" name="q" value=query ? `${query}` : '')
					.input-group-append
						button.btn.btn-success Search
		
		table.table
			tr
				th Avatar
				th Name
				th Age
				th View
			each user in users
				tr
					td
						img.rounded-circle(src=user.avatar, width="35", height="35")
					td= user.name
					td= user.age + ' '
					td
						a.btn.btn-light(href='/admin/users/' + user.id) View
