html
	head
		link(rel="stylesheet", href="/styles/bootstrap.min.css")
		link(rel="stylesheet", href="/styles/mystyle.css")
		script(src="/script/jquery.js")
		script(src="/script/popper.min.js")
		script(src='/script/bootstrap.min.js')

	body
		nav.navbar.navbar-expand-sm.navbar-dark.bg-dark
			a.navbar-brand(href='/') HTD
			button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent')
				span.navbar-toggler-icon
			#navbarSupportedContent.collapse.navbar-collapse
				ul.navbar-nav.mr-auto.text-right
					li.nav-item(class=active==='home'?'active':'')
						a.nav-link(href='/') Home
					li.nav-item(class=active==='products'?'active':'')
						a.nav-link(href='/products') Products
					li.nav-item(class=active==='cart'?'active':'')
						a.nav-link(href='/user/cart') Cart
				div.d-flex.justify-content-center.justify-content-sm-end
					if user
						p.text-light.my-auto= user.email
						a(href="/user/cart", title="Your profile and cart")
							img.rounded-circle.ml-2(src=user.avatar, width="32", height="32")
					else 
						a.btn.btn-outline-primary(href="/login") Log in

					a.btn.btn-outline-secondary.ml-2(href="/login/logout") Log out


		div(style="min-height: 70vh")
			block content
		
		.text-center.bg-secondary.py-5
			h2.text-light HTD